<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>The Pintxopo</title>
	<meta charset="utf-8"/>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.css"/>

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/about.css" ><!--Estilos principales-->

	<!-- jQuery and Bootstrap JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	
	<!-- JS SLIDER -->
	<script src="js/responsiveslides.js"></script>
	
	<!-- JS VIDEO -->
	<script type="text/javascript" src="js/video.js"></script>

	<script>
	  $(function () {

	      // Slideshow 1
	      $("#slider2").responsiveSlides({
	        auto: true,
	        pager: true,
	        nav: true,
	        speed: 500,
	        namespace: "centered-btns"
	      });

	  });
	</script>

	<link href='https://fonts.googleapis.com/css?family=Lora|PT+Sans+Narrow|Old+Standard+TT:400italic,400|Tangerine|Open+Sans+Condensed:300|Courgette' rel='stylesheet' type='text/css'>

</head>
<body>
	<!-- Slideshow 1 -->
	<div id="slider">
		<div class="rslides_container">
		    <ul class="rslides" id="slider2">
			     <li><img src="img/slider1.jpg" alt=""></li>
			     <li><img src="img/slider2.jpg" alt=""></li>
			     <li><img src="img/slider3.jpg" alt=""></li>
			     <li><img src="img/slider4.jpg" alt=""></li>
		    </ul>
		</div>
	</div>    
	<div class="logo">
		<a href="/"><img src="img/logo_trazado_recortado.png" /></a>
	</div>
	
	<div class="container">
	
		<div>
			<h1>Aplicación web realizada como proyecto de fin de curso</h1>
		</div>
	    <div>
	    	<p>Esta aplicación web se ha diseñado para facilitar la experiencia de un fenómeno cada vez más extendido en Donostia: el pintxopote.</p>
	    </div>
	   	<div>
	   		<p>El usuario podrá encontrar de manera ordenada los pintxos que se ofrecen en el pintxopote donostiarra,<br> los bares que forman parte y los diferentes eventos que hay entorno al mismo.</p>
	   	</div>
	   	<div>
	   		<p>Para desarrollar esta aplicación hemos trabajado con las siguientes tecnologías y librerías:</p>
	   	</div>
	   	<div>
	   		<p>Node.js: lado de servidor, express, HTML5 & CSS3: lado de cliente, Javascript, JQuery, Ajax, Bootstrap, MongoDB: gestión de base de datos.</p>
	   	</div>
		<section class="fotos">
		    <article>
		    	<header>
		    	<h1>Artzai San José</h1>
		    	<canvas id="myCanvas" width="150" height="150"></canvas>
		    	<!--<img src="img/white-round-md.png"></img>-->
		    	</header>
		    	<footer><p>Web developer, Musician</p></footer>
		    </article>
		    <article>
		    	<header>
		    	<h1>Sheyla Pérez</h1>
		    	<canvas id="myCanvas2" width="150" height="150"></canvas>
		    	<!--<img src="img/white-round-md.png"></img>-->
		    	</header>
		    	<footer><p>Web developer, IT</p></footer>
		    </article>
		    <article>
		    	<header>
		    	<h1>Borja Muñoz</h1>
		    	<canvas id="myCanvas3" width="150" height="150"></canvas>
		    	<!--<img src="img/white-round-md.png"></img>-->
		    	</header>
		    	<footer><p>Web developer, Graphic designer</p></footer>
		    </article>
		</section>
	</div>
	<div class="video">
		<div class="video_player_box">
			<video id="my_video" width="600" height="320">
				<source src="img/video.mp4">
			</video>
			<div class="video_controls_bar" id="video_controls_bar">
				<button class="playPauseBtn" id="playPauseBtn" value='0'></button>
				<input class="seekSlider" id="seekSlider" type="range" min="0" max="100" value="0" step="1" style="width:200px">
				<span id="curTimeText">00:00/</span><span class="durTimeText" id="durTimeText">00:00</span>
				<button class="muteBtn" id="muteBtn"></button>
				<input class="volumeSlider" id="volumeSlider" type="range" min="0" max="100" value="100" step="1" style="width:120px">
				<button class="fullScreenBtn" id="fullScreenBtn"></button>
			</div>
		</div>
				
	</div>
	<div>
		<p>footer</p>
	</div>
</div>
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var centerX = canvas.width / 2;
      var centerY = canvas.height / 2;
      var radius = 70;

      context.beginPath();
      context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
      context.fillStyle = 'green';
      context.fill();
      context.lineWidth = 5;
      context.strokeStyle = '#003300';
      context.stroke();
      
      var canvas2 = document.getElementById('myCanvas2');
      var context2 = canvas2.getContext('2d');
      var centerX2 = canvas2.width / 2;
      var centerY2 = canvas2.height / 2;
      var radius2 = 70;

      context2.beginPath();
      context2.arc(centerX2, centerY2, radius2, 0, 2 * Math.PI, false);
      context2.fillStyle = 'green';
      context2.fill();
      context2.lineWidth = 5;
      context2.strokeStyle = '#003300';
      context2.stroke();
      
      /*var canvas3 = document.getElementById('myCanvas3');
      var context3 = canvas3.getContext('2d');
      var centerX3 = canvas3.width / 2;
      var centerY3 = canvas3.height / 2;
      var radius3 = 70;

      context3.beginPath();
      context3.arc(centerX3, centerY3, radius3, 0, 2 * Math.PI, false);
      context3.fillStyle = 'green';
      context3.fill();
      context3.lineWidth = 5;
      context3.strokeStyle = '#003300';
      context3.stroke();*/
      
      	var ctx = document.getElementById('myCanvas3').getContext("2d");
		//ctx.lineWidth = 13; 
		//ctx.strokeStyle = 'rgba(0,0,0,1)'; 
		//ctx.fillStyle="rgba(0,0,0,0)" // if using this, make sure alpha < 1
		
		ctx.arc(100,100, 50, 0, Math.PI*2,true); // you can use any shape
		ctx.clip();
		
		var img = new Image();
		img.addEventListener('load', function(e) {
		    ctx.drawImage(this, 0, 0, 100, 100);
		    //ctx.fill();
		//ctx.stroke();
		}, true);
		img.src="img/fondo-edita.jpg";
    </script>
</body>
</html>