<footer id="footer">
	<nav id="navFooter">
		<ul>
			<li><a>Home</a></li>
			<li><a>Rutas</a></li>
			<li><a>Pintxos</a></li>
			<li><a>Bares</a></li>
			<li><a>Eventos</a></li>
			<li><a>About</a></li>
			<li><a>API</a></li>
		</ul>
	</nav>
	<div>contacto: pintxopo.ss@gmail.com</div>
	<div>copyrigth</div>
</footer>