<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>The Pintxopo</title>
		<meta charset="utf-8"/>

		<link rel="stylesheet" type="text/css" href="css/profile.css" ><!--Estilos principales-->
		<link href='https://fonts.googleapis.com/css?family=Lora|PT+Sans+Narrow|Old+Standard+TT:400italic,400|Tangerine|Open+Sans+Condensed:300|Courgette' rel='stylesheet' type='text/css'>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<div class="header">
		<h1><span class="nom-perfil"></span> Perfil</h1>
		<div class="btn-desconectar"><a href="/logout">Desconectar</a></div>
	</div>
	<div class="info">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="nom-user"></span> <%= user.local.nomUsuario %></h3>

					<p>
						<strong>email</strong>: <%= user.local.email %><br>
					</p>

			</div>
		</div>

	</div>

</div>
</body>
</html>