<!----- VENTANA MODAL LOGIN---
		----------------------->
		<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4>Registrate</h4>
					</div>
					<div class="modal-body">
					
					<div class="container-form">
					
					<!-- Inicio del formulario ////////////////////-->
					<form id="formRegistro" method="post" action="/signup" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nombre de usuario</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="username" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="email" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-5">
                            <input type="password" class="form-control" name="password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Sexo</label>
                        <div class="col-sm-5">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="Hombre" /> Hombre
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="gender" value="Mujer" /> Mujer
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Fecha de nac.</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="birthday" placeholder="YYYY/MM/DD" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <!-- Do NOT use name="submit" or id="submit" for the Submit button -->
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                    </form>
					</div>
					</div>
					
					<!-- FIN del formulario ////////////////////-->
					<div class="modal-footer">
					    <p>¿Ya estás registrado? <a href="#login" data-toggle="modal" data-dismiss="modal">Inicia sesión</a></p>
						<a class="btn btn-default" data-dismiss="modal">	Cerrar</a>
					</div>
				
				</div>
			</div>
		</div>
		<!-- FIN de la ventana modal ////////////////////-->