*{
    margin:0;
}

body{
	background-image: url('/img/fondo-edita.jpg'); 
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    width: 80%;
    margin: 5% 10% 0 10%;
    background: rgba(255, 255, 204, 0.7);
    border-radius: 5px;
}
.container h1{
    padding: 1% 0 0 0;
	font-family: 'Old Standard TT', serif;
	color: #303030;
	text-align: center;
	font-size: 250%;
	font-weight: 400;
}
.container h2{
    padding: 0 0 2% 0;
	font-family: 'Tangerine', cursive;
	color: #303030;
	text-align: center;
	font-size: 200%;
	font-weight: 400;
}
.container h3{
    padding: 0 0 2% 0;
	font-family: 'Old Standard TT', cursive;
	color: #303030;
	text-align: center;
	font-size: 180%;
	font-weight: 400;
	margin-top: 3%;
}

.escondido{
    display:none;
}

a{
    text-decoration: none;
}


.homeBtn a {
    margin-left: 45%;
    width: 10%;
    -webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    -moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;
    color:#253737;
    background-color:#F5F5F0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:none;
    font-size:12px;
    font-weight:700;
    padding:4px 16px;
    text-decoration: none;
}

.homeBtn nav a:link, .btn-desconectar nav a:visited {
	display: inline-block;
	color: #303030;
	padding: 10px 40px;
	height: 20px;
}

.homeBtn a:hover{
    background-color:#B5B7B6;
    color: #F5F5F0;
}

.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"], .form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus, .form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"], .form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover, .form-style-5 input[type="button"]:hover
{
    background: #109177;
}

.contenido{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.contenido li{
    list-style: none;
    margin-bottom: 3%;
}
.contenido li img{
    width: 3%;
    margin-left: 1%;
}

.formulario-editar{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.formulario-editar{
    border: none;
}
.formulario-editar legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.formulario-editar label {
    display: block;
    margin-bottom: 8px;
}
.formulario-editar input[type="text"], .form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.formulario-editar input[type="text"]:focus, .form-style-5 select:focus{
    background: #d2d9dd;
}
.formulario-editar select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.formulario-editar .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.formulario-editar input[type="submit"], .form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.formulario-editar input[type="submit"]:hover, .form-style-5 input[type="button"]:hover
{
    background: #109177;
}