
footer#principal{

	position: relative; /* si queremos que se quede fijo usaremos: fixed */
	height: 15%;
	background-color: #0f151a; /* El color del señor:  #0f151a  Mi color: rgba(224, 213, 213, 0.77)*/
	/*margin-bottom: 0;*/
	display: inline-flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;
	/*width: 112%;
	margin-left: -6%;*/
}

#navFooter{
	
	width: 100%;
	display: inline-flex;
	flex-direction: row; 
	flex-wrap: nowrap;
	justify-content: space-between;
	
}

#navFooter > ul{
    
    width: 100%;
    text-align: center;
    
}

#navFooter > ul > li {
	
	width: 8%;
	display: inline-block;
	text-align: center;
	color: black;
	flex-basis: auto;
	padding-top: 1%;
	padding-bottom: 0.5%;
	
}

#navFooter > ul > li > a{
    
    color: rgb(255, 153, 51);
    font-size: 1.1em;
    text-align: center;
}

#navFooter > ul > li > a:hover{
    
    color: rgb(229, 164, 99);
    cursor: pointer;
    text-decoration: none;
}

footer#principal div{
    
    width: 100%;
    text-align: center;
    color: rgb(113, 114, 115);
    
}

#contacto_footer{
    
    width: 100%;
    text-align: center;
    
}

#contacto_footer img{
	
	margin-right: 0.5%;
	-webkit-filter: invert(100%);
	width: 20%;
	
}

#contacto_footer img, #contacto_footer p{
   display: inline;
}

#contacto_footer > li{
    
    width: 10%;
	display: inline-block;
	text-align: center;
	color: black;
	flex-basis: auto;
	
} 

#contacto_footer a{
	
	text-decoration: none;
	color: white;
	
}

#contacto_footer a:hover{
	
	color: rgb(255, 153, 51);
	cursor: pointer;
}

@media (max-width: 480px){
	
	#contacto_footer p{
		
		display: none;
	}
	
	#navFooter > ul > li {
		
		width: 13%;
	}
	
	#contacto_footer img:hover{
	
		-webkit-filter: invert(50%);
	
	}
	
	#navFooter > ul > li > a{
		
		font-size: 0.9em;
		
	}
	
	#contacto_footer img{
		
		width: 40%;
	}
	
	#contacto_footer > li{
		
		width: 10%;
		
	}
	
}

@media (max-width: 1024px){
	
	#contacto_footer p{
		display: none;
	}
	
	#navFooter > ul > li {
		width: 13%;
	}
	
	#contacto_footer img:hover{
	
	-webkit-filter: invert(50%);
	
	}
	
}