* {
	margin: 0;
}

body {
	font-family: Arial, 'Lucida Sans Unicode';
	background-image: url('/img/pintxos.jpg'); 
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
	width: 100%;
	height: 1%;
	position: fixed;
	height: auto;
	top: 0;
	background-color: #FFF;
}

.logo {
	width: 12%;
	display: block;
	margin: 0 auto;
}

.logo img {
	margin-top: 0.5%;
	width: 100%;
	height: auto;
}

.mainHeader nav {	
	height: 2%;	
	margin-top: 1.4%;
	font-weight: bold;
}

.menu {
	float: left;
	margin-left: 5%;
}

.menu2 {
	float: right;
	margin-right: 5%;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav ul li a {
	text-decoration: none;
	font-size: 90%;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	display: inline-block;
	color: #303030;
	padding: 10px 40px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	text-shadow: none;
	color: #FF9933;
}

.mainSection {
	margin-top: 10%;
}

.bienvenida {
	width: 50%;
	margin: 16% 0 6% 25%;
	color: #FFF;
	text-align: center;
	font-size: 160%;
}

.bienvenida h2 {
	font-family: 'Lora', serif;
}

.bienvenida p {
	font-style: italic;
	font-family: 'Old Standard TT', serif;
	margin-top: 5%;
	margin-bottom: 5%;
}

.container-login {
	margin: 0 auto;
	padding-top: 0.5%;
	width: 25%;
	height: 75px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: rgba(245, 255, 250, 0.35);
	color: #101010;
}
.content a{
	color:#303030;
}

.boton-log{
	margin: 0 5% 0 5%;
	padding: 1% ;
	width: 40%;
	float: left;
	/*background-color: #FFF;*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8)
}

.boton-log span{
	margin-right: 3%; 
}

.navRedes {
	width: 36%;
	margin: 3% 0 0 32%;
}

.navRedes img {
	width: 8.5%;
}

.navRedes ul {
	list-style: none;
}

.navRedes ul li {
	display: inline;
	margin-left: 10.5%;
}

.secciones {	
	margin-left: 5%;
	width: 90%;
	margin-top: 7%;			
}

.secciones div {
	margin-bottom: 3%;
	width: 100%;
	height: 20%;
	background-color: #FFF;
}

.secciones h1 {
	padding: 8% 0 0 0;
	font-family: 'Old Standard TT', serif;
	color: #303030;
	text-align: center;
	font-size: 250%;
	font-weight: 400;
}

.secciones h2 {
	padding: 0 0 2% 0;
	font-family: 'Tangerine', cursive;
	color: #303030;
	text-align: center;
	font-size: 200%;
	font-weight: 400;	
}

.secciones p {
	padding: 5%;
}

#pintxos{
	height: 600px;
}

#pintxos article {
	margin: 1% 0 0 3.8%;
	display: inline-block;
	width: 20%;
	height: 300px;
	text-align: center;
	float:left;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

#pintxos article img {
	width: 100%;
}


#pintxos h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

#pintxos p {
	padding: 2%;	
	font-size: 85%;
	font-family: 'Courgette', cursive;
	color: #797070;
}