* {
	margin: 0;
}

html, body {
	background-image: url('/img/beer2.gif'); 
	background-size: 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 30%;
    height: 100%;
}

.imgNegro {
	position: absolute;
	z-index: 999;
	opacity: 0.2;
	display: none;
}

header {
	width: 100%;
	position: fixed;
	height: auto;
	top: 0;
	background-color: #FFF;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	z-index: 10;
}

.logo {
	max-width: 10%;
	display: block;
	margin: 0 auto;
	margin-top: 0.5%;
	margin-bottom: 1%;
}

.logo img {
	width: 100%;
}

.mainHeader nav {	
	height: 2%;	
	margin-top: 2%;
	font-weight: bold;
}

.menu {
	width: 35%;
	float: left;
	margin-left: 10%;
}

.menu li {
	float: left;
	margin-left: 15%;
}

.menu2 {
	width: 35%;
	float: right;
	margin-right: 10%;
}

.menu2 li {
	float: right;
	margin-right: 15%;
}

.mainHeader nav ul {
	list-style: none;
}

.mainHeader nav ul li a {
	text-decoration: none;
	font-size: 90%;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #303030;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	text-shadow: none;
	color: #FF9933;
}

.mainSection {
	margin-top: 10%;
}

.bienvenida {
	width: 50%;
	margin: 17% 0 4% 25%;
	color: #FFF;
	text-align: center;
	font-size: 200%;
}

.bienvenida h2 {
	font-family: 'Old Standard TT', serif;
	font-size: 170%;
}

.bienvenida p {
	font-style: italic;
	font-family: 'Old Standard TT', serif;
	margin-top: 5%;
}

#cita{
	font-family: 'Old Standard TT', serif;
	font-size: 65%;
	margin: -0.5% 0 0 60%;
}

.container-login {
	margin: 0 auto;
	padding-top: 0.5%;
	width: 25%;
	height: 75px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: rgba(245, 255, 250, 0.35);
	color: #101010;
	display: none;
}
.content a{
	color:#303030;
	display: none;
}

.boton-log{
	margin: 0 5% 0 5%;
	padding: 1% ;
	width: 40%;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}

.boton-log span{
	margin-right: 3%; 
	display: none;
}



.btnUnete {
	margin-top: 8.5%;
	width: 20%;
	margin-left: 40%;
}

.imgBoton {
	width: 60%;
	margin-left: 20%;
	/*background-color: rgba(255, 255, 255, 0.4);*/
}


.navRedes {
	width: 24%;
	margin: 2% 0 7% 36.5%;
}

.navRedes img {
	width: 8.5%;
}

.navRedes ul {
	list-style: none;
}

.navRedes ul li {
	display: inline;
	margin-left: 12.5%;
}  

#rutas {
	width: 86%;
	margin: 5% 0 3% 7%;
	height: 540px;
	background-color: #FFF;
}

#rutas ul {
	list-style: none;
}

#rutas li {
	display: inline;
	margin-right: 20px;
}
#rutas h1{
	padding: 1% 0 0 0;
	font-family: 'Old Standard TT', serif;
	color: #303030;
	text-align: center;
	font-size: 250%;
	font-weight: 400;
}

#rutas h2{
	font-family: 'Tangerine', cursive;
	color: #303030;
	text-align: center;
	font-size: 200%;
	font-weight: 400;
}

#googleMap {
	width: 96%;
	margin-left: 2%;
	height: 410px;
}

.secciones {	
	margin-left: 7%;
	width: 86%;
	margin-top: 2%;	
	
}

.secciones div {
	margin-bottom: 3%;
	/*width: 100%;*/
	/*background-color: #FFF;*/	
}

.secciones h1 {
	padding: 3% 0 0 0;
	font-family: 'Old Standard TT', serif;
	color: #303030;
	text-align: center;
	font-size: 250%;
	font-weight: 400;
	/*background-color: #FFF;*/
}

.secciones h2 {
	padding: 0 0 2% 0;
	font-family: 'Tangerine', cursive;
	color: #303030;
	text-align: center;
	font-size: 200%;
	font-weight: 400;
}

.secciones p {
	padding: 5% 5% 1% 5%;
}



#pintxos {
    background-color: transparent;
}

#pintxos div {
	background-color: #FFF;
}

#bares {
    background-color: #FFF;
    width: 100%;
    height: 540px;
}

.visor {
	float: left;
}

.imgBares img {
	width: 20%;
	max-height: 80px;
	margin-left: 6%;
	margin-top: 1.5%;
	cursor:pointer;
}

.barTitle {
	width: 58%;
	float: right;
}

#calendario {
    background-color: transparent;
    width: 100%;
}

#calendario div {
	background-color: #FFF;
}

#pintxos article {
	margin: 3% 0 4% 3.8%;
	display: inline-block;
	width: 20%;
	height: 300px;
	text-align: center;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	overflow: hidden;
}

#pintxos article img {
	width: 100%;
	max-height: 160px;
}

#pintxos h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

#pintxos p {
	padding: 2%;	
	font-size: 90%;
	font-family: 'Courgette', cursive;
	color: #797070;
}

.navRedesLateral {
	position: fixed;
	top: 45%;
	width: 7%;
}

.navRedesLateral ul {
	list-style: none;
}

.navRedesLateral img {
	width: 40%;
}

.navRedesLateral ul li {
	margin-top: 10px;
	margin-left: -10px;
}

#usuario{
	font-size: 95%;
	font-family: 'Courgette', cursive;
	margin: 3.3% 0 0 3%;
	font-weight: 400;
	position: absolute;
}

#usuario a{
	text-decoration: none;
	color: black;
}
#icono-user{
	margin: 3% 0 0 1%;
	width:18px;
	height:18px;
	position: absolute;
}
.escondido{
	display: none;
}

.visible{
	display: block;
}