* {
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

body {
	width:100%;
	background-image: url('/img/beer2.gif'); 
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height:100%;
    overflow-x: hidden;
}

.mainHeader {
	width: 100%;
	position: fixed;
	height: auto;
	top: 0;
	box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.75);
	background-color: #FFF;
	/*background-image: url('/img/crossword.png');*/
	z-index: 1001;

}

/*************NAVEGADOR*********************/
/*Strip the ul of padding and list styling*/

.menuNavegador {
	width: 100%;/**/
	min-width:50%;
	z-index: 1002;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 90%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	position: fixed;
	/*background-image: url('/img/crossword.png');*/
	background-color: #FFF;
	box-shadow: 0 0 6px 0px rgba(50, 50, 50, 0.75);
}

.menuNavegador ul {
	width: 80%;
	text-align: center;
	margin:0 auto;
	padding: 0;
	/*display:table;*/
}

.menuNavegador ul img{
	width: 50%;
	height: auto;
}

#clearfix:before,  
#clearfix:after {  
    content: " ";  
    display: table;  
}  
#clearfix:after {  
    clear: both;  
}  
#clearfix {  
    *zoom: 1;  
}  

.menuNavegador li{
	display:inline-block;
	margin:0 auto;
	padding-right: 3%;
	padding-left: 3%;
}

.menuNavegador a {
	display:inline-block;
	text-decoration: none;

	text-align: center;
}

.menuNavegador a:link, .mainHeader a:visited {
	text-decoration: none;
	color: #303030;
}

.menuNavegador a:hover, .menuNavegador a:active, .menuNavegador .active a:link, .menuNavegador .active a:visited {
	text-decoration: none;
	text-shadow: none;
	color: #FF9933;
}

.menuNavegador a#pull {  
    display: none;
    text-align:center;
}   

#hiddenLogo{
	width: 100%;
	display:none;
	margin: 0 auto;
	text-align: center;
}

#nomUsuario {
	display: none;
}

/*************************/

.entrada {
	width: 100%;
	height: auto;
	margin-bottom: 3%;
	/*display: flex;
	flex-wrap: wrap;
	align-items: center; *//* align vertical */
}

.bienvenida {
	width: 60%;
	height: 40%;
	margin-bottom: 13%;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 13%;
	color: #FFF;
	text-align: center;
	font-size: 200%;
}

.bienvenida h2 {
	font-family: 'Old Standard TT', serif;
	font-size: 170%;
}

.bienvenida p {
	font-style: italic;
	font-family: 'Old Standard TT', serif;
	font-size: 120%;
	margin-top: 5%;
}

#cita{
	font-family: 'Old Standard TT', serif;
	font-size: 65%;
	margin: -0.5% 0 0 60%;
}

#btnUnete {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

#btnUnete img{
	width: 25%;
}

#avatarUsuario {
	margin: 0 auto;
	width: 60%;
	text-align: center;
}

#avatarUsuario img{
	width: 15%;
	border-radius: 50%;
}



/*************BOTONES REDES SOCIALES*************/
.flex-container {
	width: 20%;
	margin: 0 auto;
	padding: 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */
}

.botonesRedes{
  	justify-content: center;
  	width: 10%;
}

.botonesRedes img{
  	width: 100%;
  	height: auto;
  	margin: 0 auto;
}
/***********************************************/

/**********NAVEGADOR LATERAL********************/
.navRedesLateral {
	position: fixed;
	top: 45%;
	width: 5%;
	text-align: center;
}

.navRedesLateral ul {
	list-style: none;
}

.navRedesLateral img {
	width: 40%;
}

.navRedesLateral ul li {
	margin-top: 25%;
}
/************************************************/



#pintxos{
	min-height: 85%;
	height: auto;
}


#bares {
    background-color: #FFF;
    /*background-image: url('/img/crossword.png');*/
    width: 100%;
    height: 85%;
}

.principal {
	float: left;
	height: 100%;
	width: 41.5%;
}

#titulo1 {
	display: block;
}

#titulo2 {
	display: none;
}

/*******SECCION BARES******/
.principal{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start; /* align vertical */
	width:100%;
	margin-top:2%;
	height:auto;
}
.visor {
	width:36%;
}

.visor img {
	max-height: 50%;
	max-width: 100%;
}

.imgBares {
	width: 55%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */
}

.imagenesBares {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */
	height:auto;
	padding: 1%;
	width: 30%;
	border: 1px solid gray;
	margin-bottom:2%;
}
.nombreBar{
	width:100%;
}
.nombreBar h1, #nombreBar2{
	padding:0;
	margin-top:0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.imgBares img {
	border:1px solid gray;
	width: 100%;
	cursor: pointer;
}
.descripcionBar{
	padding-top:3%;
	width:100%;
}
.barTitle {
	width: 58%;
	float: right;
}
.direccionBar{
	width:100%;
	background:#eee;
	padding:1%;
}

#navBares {
	margin-top:2%;
	width: 100%;
	text-align:center;
}

#navBares img {
	width: 20%;
	min-width: 20px;
	width:5%;
}

#barPrincipal, #coordX, #coordY, #nombreBar {
	display: none;
}
/*******FIN BARES******/


/******SECCION EVENTOS********/
#calendario {
    height: auto;
}

.contenidoCalendario{
	margin-top:2%;
	width:100%;
	height:90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start; /* align vertical */
}

.eventos{
	height:90%;
	width:30%;
}

.agenda{
	height:90%;
	width:30%;
}

.post{
	width:100%;
	margin-bottom:2%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start; /* align vertical */
}
.fecha{
	padding:1%;
	width:15%;
	background-color:gray;
}
.fecha h1, .fecha h2{
	font-family:helvetica;
	font-weight:bold;
	font-size:1em;
	color:white;
}
.evento{
	border: 1px solid gray;
	padding:5%;
	width:85%;
}
.evento h1{
	font-family:helvetica;
	font-weight:bold;
	font-size:1em;
}
.evento h2{
	font-family:helvetica;
	font-size:1em;
}
.titulito{
	width:100%;
}
.titulito h1{
	font-family:helvetica;
	font-weight:bold;
	font-size:1em;
}
.titulito img{
	width:3%;
}

.tituloArticulo{
	font-family: 'Old Standard TT', serif;
	font-size: 2.5em;
	color:#181818;
}
.info{
	width: 100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start; /* align vertical */
}
.info p{
	width:50%;
}

.info figure{
	width:45%;
	margin-right: 3%;
}

.info figure img{
	max-width:100%; 
	max-height:100%;
}
.entradaArt #footNoticia{
	margin:0 auto;
	width:100%;
	padding:2%;
	background-color:#eee;
	border:none;
}
.twitter{
	height:90%;
	width:30%;
}

#twitterstream{
	margin: 0 auto;
	width: 80%;
		
}
/******FIN SECCION EVENTOS********/

.pintxo{
	margin-top: 3%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start; /* align vertical */
}

.pintxo article {
	border: 1px solid gray;
	padding:0.5%;
	width: 21%;
	min-height:100%;
	height: auto;
	text-align: center;
	box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.75);
	min-width: 150px;
	margin-left:1%;
	margin-right:1%;
	margin-bottom:3%;
}

.pintxo article img {
	width: 100%;
	min-width:99%;
	/*min-height:100%;*/
}

.pintxo h3 {
	margin: 5% 0 3% 0; 	
	font-family: 'Lora', serif;
	color: #303030;
}

.pintxo p {
	padding: 2%;	
	font-size: 1.1em;
	font-family: 'Courgette', cursive;
	color: #797070;
}


#usuario{
	font-size: 95%;
	font-family: 'Courgette', cursive;
	margin: 3.3% 0 0 3%;
	font-weight: 400;
	position: absolute;
}

#usuario a{
	text-decoration: none;
	color: black;
}

#icono-user{
	margin: 3.3% 0 0 1.5%;
	width:12px;
	height:12px;
	position: absolute;
}

.escondido{
	display: none;
}

.visible{
	display: block;
}

#btnUsuario{
	position: absolute;
	margin: 1.5% 0 0 1.5%;
	z-index: 1550;
}



.secciones{
	position:relative;
	min-height:100%;
	width: 90%;
	margin:0 auto;
	height:100%;
}

.secciones:after{
	content:"";
	display:block;
}

.contenedor{
	width: 100%;
	height: 85%;
	background-color: #FFF;
	/*background-image: url('/img/crossword.png');*/
	margin-bottom: 3%;
	padding: 1%;
}

.titulo{
	width:100%;
	height: auto;
}

.titulo > h1{
	font-family: 'Old Standard TT', serif;
	color: #303030;
	text-align: center;
	font-size: 250%;
	font-weight: 400;
	margin:0;
	padding: 0;
}
.titulo h2{ 
	font-family: 'Tangerine', cursive;
	color: #303030;
	text-align: center;
	font-size: 200%;
	font-weight: 400;
	margin:0;
	padding: 0;
}


/* Este navrutas creo que no es necesario*/
.navRutas{
	width: 30%;
	height: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start; /* align vertical */
}


@media screen and (max-width: 1300px) { 
	
	#visibleLogo{
		display:none;
	}
	#hiddenLogo{
		display:block;
		padding: 2%;
	}
	#hiddenLogo img{
		width: 15%;
		height: auto;
	}
	.menuNavegador {   
	    height: auto;  
	}  
	.menuNavegador ul {  
	    width: 100%;  
	    display: block;  
	    height: auto;  
	}  
	.menuNavegador li {  
	    width: 50%;  
	    float: left;  
	    position: relative;  
	}  
	.menuNavegador li a {  
	    border-bottom: 1px solid #576979;  
	}  
	.menuNavegador a {  
	    text-align: left;  
	    width: 100%;  
	}  
	
	#btnUsuario {
		margin-top: -7%;
	}
}  


@media (max-width: 480px){
	
/*****media seccion PINTXOS****************/
	
	.pintxo article{
		min-width:140px;
		width:45%;
		height: 250px;
		overflow:hidden;
		
	}
	.pintxo article img{
		width: 99%;
		display:block;
		max-height:100px;
		position:relative;
		/*height: 100px;*/
		
	}
	.pintxo article h3{
		min-height:60px;
	}
	.pintxo article p{
		display: none;
	}
	
	/*********************************/
	
	/*******SECCION BARES******/
	.visor {
		width:85%;
		margin-bottom:2%;
	}
	#navBares{
		width:100%;
		margin-left:0;
		margin-top:3%;
		margin-bottom:3%;
		position: relative;
	}
	#navBares img{
		width:5%;
	}
	
	.visor img {
		max-height: 100%;
		max-width: 100%;
	}
	
	.imgBares {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center; /* align vertical */
	}
	
	.imagenesBares {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center; /* align vertical */
		height:auto;
		padding:0;
		width: 43%;
		margin-bottom:3%;
		border:none;
	}
	
	.nombreBar{
		width:100%;
	}
	.nombreBar h1{
		padding:3%;
		margin-top:0;
		font-size: 100%;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
	}
	.imgBares img {
		border:1px solid gray;
		width: 100%;
		cursor: pointer;
	}
	.descripcionBar{
		display:none;
	}
	.barTitle {
		width: 58%;
		float: right;
	}
	.direccionBar{
		width:100%;
		background:#eee;
		padding:5%;
	}
	
	#bares{
		height:1072px;
	}
	
	/******SECCION EVENTOS********/
	
	.contenidoCalendario{
		margin-top:2%;
		width:100%;
		height:90%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start; /* align vertical */
	}
	
	.eventos{
		width:95%;
	}
	
	.agenda{
		height:90%;
		width:90%;
	}
	
	.post{
		width:100%;
		margin-bottom:1%;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start; /* align vertical */
	}
	.fecha{
		padding:1%;
		width:15%;
		background-color:gray;
	}
	.fecha h1, .fecha h2{
		font-family:helvetica;
		font-weight:bold;
		font-size:1em;
		color:white;
	}
	.evento{
		width:85%;
	}
	.evento h1{
		font-family:helvetica;
		font-weight:bold;
		font-size:1em;
	}
	.evento h2{
		font-family:helvetica;
		font-size:1em;
	}
	.titulito{
		width:100%;
		text-align: center;
	}
	.titulito h1{
		font-family:helvetica;
		font-weight:bold;
		font-size:1em;
	}
	.titulito img{
		width:5%;
	}
	
	.tituloArticulo{
		font-family: 'Old Standard TT', serif;
		font-size: 2.5em;
		color:#181818;
	}
	.info{
		width: 100%;
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start; /* align vertical */
	}
	.info p{
		margin-top:3%;
		width:95%;
	}
	
	.info figure{
		width:100%;
	}
	
	.info figure img{
		max-width:100%; 
		max-height:100%;
	}
	.entradaArt{
		padding-bottom:4%;
		margin-bottom:3%;
		border-bottom:1px solid gray;
	}
	.entrada #footNoticia{
		margin:0 auto;
		width:100%;
		padding:2%;
		background-color:#eee;
		border:none;
	}
	.twitter{
		height:90%;
		width:90%;
	}
	
	#twitterstream{
		margin: 0 auto;
		width: 100%;
		/*border: solid 1px black;*/
		
	}
	
	#twitter-widget-0{
		
		width: 100%;
		
	}
	/******FIN SECCION EVENTOS********/
	
	#btnUsuario{
		position: absolute;
		margin: -11.5% 0 0 1.5%;
		z-index: 1550;
	}

	#visibleLogo{
		display:none;
	}
	#hiddenLogo{
		display:block;
		padding: 2%;
		width: 60%;
	}
	#hiddenLogo img{
		width: 45%;
		height: auto;
	}
	
	.menuNavegador {  
        border-bottom: 0;  
    }  
    .menuNavegador ul {  
        display: none;  
        height: auto;  
    }  
    .menuNavegador a#pull { 
        display: block;  
        background-color: #fff;  
        width: 100%;  
        position: relative;  
    }  
    .entrada {
    	/*border:1px solid gray;*/
    	padding:1%;
		width: 100%;
		height: 100%;
		margin-top: 20%;
		/*display: flex;
		flex-wrap: wrap;
		align-items: center; *//* align vertical */
	}
	
	.bienvenida{
		margin: 0 auto;
		width: 80%;
		height: 40%;
		min-width:300px;
		min-height:200px;
	}
	
	.bienvenida h2 {
		font-family: 'Old Standard TT', serif;
		font-size: 150%;
	}

	.bienvenida p {
		display:none;
	}
	
	#btnUnete {
		margin: 0 auto;
		width: 60%;
		min-width:60%;
		text-align: center;
	}
	
	#btnUnete img{
		width: 80%;
	}
	
	#avatarUsuario {
		margin: 0 auto;
		width: 60%;
		min-width:60%;
		text-align: center;
	}
	
	#avatarUsuario img{
		width: 60%;
	}
	
	.flex-container {
		width: 60%;
		margin: 0 auto;
		margin-top: 5%;
		padding: 1%;
	}
	
	.botonesRedes{
	  	justify-content: center;
	  	width: 10%;
	}
	
	.botonesRedes img{
	  	width: 100%;
	  	height: auto;
	  	margin: 0 auto;
	}
	
	.barTitle {
		width: 58%;
		float: right;
	}
	
	#titulo1 {
		display: none;
	}
	
	#titulo2 {
		display: block;
	}	

}



/* http://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
	
@media (max-width: 1370px){

	#rutas{
		height:750px;
	}
	
	#bares{
		height:700px;
	}

	.bienvenida {
		width: 60%;
		margin: 0 auto;
		margin-top: 12%;
		margin-bottom: 2%;
		height: 10%;
	}
	
	
}

