* {
	margin: 0;
}

body{
    margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	padding: 1% 0 0 0;
}

.header{
    text-align: center;
    width: 100%;
}

#avatar{
	width: 100%;
	height: 125px;
	margin-bottom: 10%;

}

#avatarImg{
	border-radius: 50%;
}

#nom-usuario{
    width: 100%;
    margin-top: 5%;
    height: 50px;
}

#nom-usuario h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: black;
	margin-left: 5%;
	text-align: left;
}

.flex-container {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
  margin-top: 5px;
  margin-bottom: 1%;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 1%;
}
.flex-item img{
	width: 125px;
	height: 125px;
	float:left;
}
.flex-item p{
    color: #999;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
#datos p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	line-height: 20px;
}
.contenedor-editar{
    width: 100%;
    float: left;
}

.logo {
	width: 15%;
	display: block;
	margin: 0 auto;
}

.logo img {
	width: 80%;
}

hr{
    margin-top:20px;
}

.valoraciones{
    float: left;
    width: 68%;
    height: 250px;
}


.valoracion h1{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 55px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: black;
	text-align: center;
}

.btnEditarAvatar img{
	width: 24px;
	height: auto;
}

.btnEditar{
	margin: 3%;	
}

.btnEditar img{
	width: 40px;
	height: auto;
}
#editar a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration:none;
	color:black;
}
#editar{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
#editar img{
	margin: 0 auto;
}

.radio{
	float: left;
}

.btn-desconectar{
	margin: 0 auto;
	text-align: center;
}

.form-horizontal{
	margin: 0 auto;
	padding: 0;
}

.editar{
	display:inline-block;
}

#avatarString {
	display: none;
}

/* Para que el botón no se vea y solo se vea la imagen*/
#falseinput{
	background: transparent;
    border: none;
}

/* Escondemos el botón de Examinar para poder poner el botón por encima y customizarlo*/
#imageLoader {
	display: none;
}

#btnEditarAvatar {
	width: 30px;
	height: 30px;
}

#idUsuario {
	display: none;
}

footer#principal{

	position: fixed; /* si queremos que se quede fijo usaremos: fixed */
	height: 15%;
	background-color: #0f151a; /* El color del señor:  #0f151a  Mi color: rgba(224, 213, 213, 0.77)*/
	/*margin-bottom: 0;*/
	display: inline-flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin-left: 0;
	bottom: 0;
}

@media screen and (max-width: 480px){
	
	.logo {
		width: 40%;
		display: block;
		margin-top: 5%;
		margin-left: 30%;
	}
	
	.logo img {
		width: 100%;
	}
	
	#datos {
		width: 100%;
		margin: 0;
		margin-top: -10%;
	}

	#nom-usuario{
	    width: 100%;
	}
	
	#nom-usuario h1 {
		margin: 0;
		font-size: 35px;
		color: black;
		text-align: center;
	}
	#avatar{
		width: 60%;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center; /* align vertical */
	}
	
	#falseinput {
		padding:3%;
		text-align:center;
		width:100%;
	}
	
	#btnEditarAvatar {
		width: 10%;
		margin-left:45%;
	}
	
	#datos-usuario {
		width: 70%;
		height: 20%;
		margin: 0;
		margin-left: 20%;
		margin-top: 15%;
	}
	
	#datos p{
		font-family: 'Roboto Condensed', sans-serif;
		text-align: left;
		line-height: 20px;
	}
	
	#editar{
		width: 50%;
		margin-bottom:5%;
	}
	
	.valoracion h1{
	    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: 25px;
		font-style: normal;
		font-variant: normal;
		font-weight: bold;
		color: black;
		text-align: center;
	}
	
	.valoracion p {
		font-size: 15px;
	}
	
	.btnEditar img{
		width: 24px;
		height: auto;
	}
	
}