* {
	margin: 0;
}

body{
    margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	padding: 1%;
}

.header{
    text-align: center;
    width: 100%;
}

#avatar{
	width: 100%;
	height: 125px;
}

#nom-usuario{
    width: 100%;
    margin-top: 5%;
    height: 75px;
}

#nom-usuario h1 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: black;
	margin-left: 5%;
	text-align: left;
}

.flex-container {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.flex-item {
  margin-top: 5px;
  margin-bottom: 1%;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 1%;
}
.flex-item img{
	width: 125px;
	height: 125px;
	float:left;
}
.flex-item p{
    color: #999;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
#datos p{
	font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	line-height: 20px;
}
.contenedor-editar{
    width: 100%;
    float: left;
}

.logo {
	max-width: 15%;
	display: block;
	margin: 0 auto;
}

.logo img {
	width: 80%;
}

hr{
    margin-top:20px;
}

.valoraciones{
    float: left;
    width: 68%;
    height: 250px;
}


.valoracion h1{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 55px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: black;
	text-align: center;
}

.btnEditarAvatar img{
	width: 24px;
	height: auto;
}

.btnEditar img{
	width: 24px;
	height: auto;
}
#editar a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration:none;
	color:black;
}
#editar{
	margin: 0 auto;
	width: 8%;
	text-align: center;
}
#editar img{
	margin: 0 auto;
}

.radio{
	float: left;
}

.btn-desconectar{
	margin: 0 auto;
	text-align: center;
}

.form-horizontal{
	margin: 0 auto;
	padding: 0;
}



.editar{
	display:inline-block;
}