/*********** RUTAS **********/

#googleMap {
	height: 60%;
    width: 97%;
    /*min-width: 300px;*/
    padding: 0;
    opacity: 1;
    position: static;
  
}
	
.contenedor-rutas{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */
}

/* imagen rutas */
	
	/* iconos de: http://www.iconsbyhour.co.uk/1pm.html*/

#menu_rutas{
	
	text-align: center;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 35%;
}

#menu_rutas a > div > img{
	
	
	width: 70%;
	margin-top: 16%;
}

#menu_rutas > ul > li > a > p:hover{
	
	-webkit-transform:scale(1.3, 1.3);
}

.circulo_btn{
	
	width: 50px;
	height: 50px;
	/* -webkit-filter: invert(100%); */
	background-color: #FF9933;
	/* #ffa659 */
	border-radius: 50%;
	margin: auto;
	
}

.btnRuta:visited, .btnRuta:focus{
	
	text-decoration: none;
}

.btnRuta:hover{
	
	text-decoration: none;
}


.btnRuta:active{
	
	text-decoration: none;
	color: crimson;
	
}

#menu_rutas > ul > li > a > p{
	
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	text-decoration: none;
	color: #303030;
	font-size: large;
}

#menu_rutas ul{
	
	list-style: none;
	width: 100%;
	height: 100%;
	
}

#menu_rutas > ul > li {
	
	text-align: center;
	width: 12%;
	height: 25%;
	min-width: 90px;
	display: inline-block;
	/*border-radius: 50%;*/
	

}

#menu_rutas > ul > li > a {
	margin-left: -10%;
}

/* Media de RUTAS */
@media (max-width: 1920px){
	
	
	#menu_rutas{
		
		margin-top: 3%;
	}
	
	
}

@media (max-width: 480px){
    
    #menu_rutas{
		
		height: 30%;
	}
		
	#menu_rutas > ul > li > a > p{
		
		/*font-size: small;*/
		display: none;
	}

	
	#menu_rutas > ul{
		
		height: 50%;
	}
	
	#menu_rutas > ul > li > a {
		margin-left: -7%;
	}
	
	#menu_rutas > ul > li {
		margin-top: -3%;
		width: 29%;
	}
	
	#cerveza > a{
		display: none;
	}
	
	#googleMap {
		
		height: 55%;
	    width: 90%;
	}
		
	.circulo_btn {
		
		width: 30px;
		height: 30px;
		margin: 5%;
		
	}
	
	#menu_rutas > ul > li > a > div {
		
		margin: auto;
		width: 50px;
		height: 50px;
		
	}
	
    
}