.rate_widget {
    margin: 0 auto;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */
    overflow:   visible;
    padding:    10px;
    width:      80%;
    position: relative; 
    bottom: 0;
}
.ratings_stars {
    background: url('../img/open-iconic/svg/star.svg') no-repeat;
    float:      left;
    height:     20px;
    width:      20px;
    opacity: 0.5;
    background-size: cover;
}
.ratings_vote {
    background: url('../img/open-iconic/svg/star.svg') no-repeat;
    float:      left;
    height:     20px;
    width:      20px;
    opacity: 1.0;
    background-size: cover;
}
.ratings_over {
    background: url('../img/open-iconic/svg/star.svg') no-repeat;
    float:      left;
    height:     20px;
    width:      20px;
    opacity: 1.0;
    background-size: cover;
}

.total_votes {
    width:35%;
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
} 
.media_votes {
    width:35%;
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
}
.total_puntos {
    display:none;
    width:35%;
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
}
.votos{
    margin-top:5%;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: center; /* align vertical */

}

@media (max-width: 480px){

    .total_votes{
        width:45%;
        padding:0;
        background:none;
    }
    
    .media_votes{
        width:45%;
        padding:0;
        background:none;
    }
    
    .rate_widget{
        padding:3%;
        width: 100%;
    }
    
    .votos{
        width:100%;
    }
    
}