body {
	font-family: Arial, 'Lucida Sans Unicode';
	background-image: url('img/pintxos.jpg'); 
	background-size: 100%;
}

header {
	width: 100%;
	height: 8%;
	margin-top: 1%;
}

.logo {
	width: 7%;
	border: 0px solid blue;
	display:block;
	margin: 0 auto;
}

.logo img {
	width: 100%;
	height: auto;
}

.menu {
	float: left;
	margin-left: 5%;
}

.menu ul li {
	
}

.menu2 {
	float: right;
	margin-right: 5%;
	padding-left: 5%;
}

.mainHeader nav {	
	height: 40px;
	margin-top: 2%;
	font-weight: bold;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li {
	float: left;
	display: inline;
}

.mainHeader nav ul li a {
	text-decoration: none;
	font-size: 90%;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	display: inline-block;
	color: #FFF;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, .mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	text-shadow: none;
	color: #FF9933;
}

.mainSection {

}

.bienvenida {
	width: 50%;
	margin: 10% 0 0 25%;
	color: #FFF;
	text-align: center;
	font-size: 160%;
	font-family: 'Lora', serif;
}

.bienvenida p {
	font-style: italic;
	font-family: 'Old Standard TT', serif;
}